[submodule "file_sync"]
	path = backend/file_sync
	url = git@github.com:badgerloop-software/file_sync.git
[submodule "sc-data-format"]
	path = sc-data-format
	url = https://github.com/badgerloop-software/sc-data-format.git
